---
import {
  Card,
  H2C,
  H4C,
  Paragraph,
  Section,
  TextWithLine,
} from '@components/index.astro'
import { projects } from '@models/index'
---

<Section customClass='flex flex-col gap-10 justify-around' id="projects" >
  <div>
    <H4C customClass='relative text-blue-600'>
      <TextWithLine name='FEATURED PROJECTS' customClass='border-blue-600' />
    </H4C>
    <H2C customClass='mb-2'>¿INTERESADO EN CONOCER MI TRABAJO?</H2C>
    <Paragraph>
      Te presento una selección de proyectos que reflejan mi habilidad para
      innovar y crear soluciones efectivas en el mundo digital.
    </Paragraph>
  </div>

  <div class="flex flex-col justify-center items-center">
    {
      projects.map((p) => {
        return <Card content={p} />
      })
    }
  </div>
</Section>
