---
interface Props {
  customClass ?: string
}

const { customClass = '' } = Astro.props
---

<h2
  class=`font-extrabold relative text-blue-600 text-xl sm:text-2xl ${customClass}`
>
  <slot />
</h2>
