---
import { Projects, Header, Welcome } from '../components/index.astro'
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />

    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css'
    />

    <link rel='stylesheet' href='../../public/fonts/fonts.css' />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <title>Omar Barros - Portafolio</title>
  </head>
  <body>
    <Header />
    <main class='h-full'>
      <Welcome />
      <Projects />
    </main>
  </body>
</html>

<style is:global>
  * {
    font-family: 'SFUIText', 'ui-sans-serif', 'system-ui', '-apple-system',
      'Helvetica Neue', 'Arial', 'sans-serif', 'Roboto', 'Segoe UI';
  }
  body {
    background-color: #000000;
    color: #f6f1f1;
  }
</style>
