<header
  class='fixed left-0 right-0 flex justify-around items-center bg-black py-6 z-10'
>
  <h1 class='font-bold text-xl cursor-pointer select-none'>
    ENCOD<span class='text-blue-500'>ING</span>
  </h1>
  <span
    class='material-symbols-outlined cursor-pointer hover:scale-110 active:scale-100 select-none'
    >menu</span
  >
  <nav
    class='z-50 absolute max-w-min max-h-min top-0 right-0 bg-black bg-opacity-100 px-10 py-20 text-white border-l-2 border-b-2 border-blue-700' hidden
  >
    <span
      class='material-symbols-outlined z-10 absolute top-4 right-4 text-4xl select-none cursor-pointer hover:scale-110 active:scale-100 hover:text-black'
      >close</span
    >
    <ul class='text-4xl flex flex-col gap-10'>
      <li class='cursor-pointer hover:text-blue-500 w-min'>
        <span class='text-blue-500 border-b-2 border-blue-500'>H</span>ome
      </li>
      <li class='cursor-pointer hover:text-blue-500 w-min'>
        <span class='text-blue-500 border-b-2 border-blue-500'>P</span
        >ortafolio
      </li>
      <li class='cursor-pointer hover:text-blue-500 w-min'>
        <span class='text-blue-500 border-b-2 border-blue-500'>S</span>ervices
      </li>
    </ul>
  </nav>
</header>
