<section class='flex justify-center items-center h-screen'>
  <div class='flex flex-col justify-center items-center text-center px-3 pt-12'>
    <header class='mb-6'>
      <h3 class='text-lg font-semibold'>
        <span class='text-blue-500'>&lt;</span>OmarBarros&nbsp;<span
          class='text-blue-500'>\&gt;</span>
      </h3>
      <h2 class='text-2xl font-bold text-blue-500'>DESARROLLADOR WEB</h2>
      <h3 class='text-lg text-white font-semibold'>Ingeniero de Sistemas</h3>
    </header>
    <p class='text-lg'>
      Transformando ideas en soluciones con tecnología y trabajo en equipo
    </p>
    <div class='flex gap-4 mt-4 mb-8'>
      <i class='ti ti-brand-react text-4xl'></i>
      <i class='ti ti-brand-angular text-4xl'></i>
      <i class='ti ti-brand-c-sharp text-4xl'></i>
      <i class='ti ti-brand-python text-4xl'></i>
    </div>
    <div class='flex gap-5 mt-10 mb-20'>
      <button class='text-white hover:text-blue-600 hover:scale-110 active:scale-100 px-4 py-4 '>About me</button>
      <button class='border hover:bg-white hover:text-black hover:scale-110 active:scale-100 px-4 py-4 '
        >Download CV</button
      >
    </div>

    <a
      href=''
      class='animate-[bounce_1s_ease-in-out_infinite] cursor-pointer select-none'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        version='1.1'
        viewBox='0 0 36 18'
        width='40'
        height='40'
        ><path
          fill='#ffffff'
          d='M0 0l18 18L36 0H0zM9.657 4h16.686L18 12.343 9.657 4z'></path></svg
      >
    </a>
  </div>
</section>
