---
import { IconTi } from '@components/atoms/index.astro'

interface Props {
  name ?: string
  nameIcon: string
  customClass?: string
  href ?: string
}

const { nameIcon, name = '', customClass = '', href = '' } = Astro.props
---

<li class=`cursor-pointer hover:bg-blue-600 hover:text-white ${customClass}`>
  <a href={href} class="flex gap-2 items-center p-4">
    <IconTi name={nameIcon} customClass="font-bold text-lg" />
    <span>{name}</span>
  </a>
</li>
