---
import { LineDown } from "@components/index.astro";
import { ButtonGroup, AnchorArrow, HeaderComponent, Section } from "@components/molecules/index.astro";
---

<Section customClass='flex flex-col justify-center items-center h-screen text-center'>
  <HeaderComponent customClass='flex flex-col lg:flex-row-reverse lg:w-full lg:justify-evenly items-center gap-12 lg:gap-0'>
    <ButtonGroup customClass="my-2" />
  </HeaderComponent>

  <AnchorArrow />
  <LineDown />
</Section>