---
import { LineDown } from "@components/index.astro";
import { BrandGroup, ButtonGroup, AnchorArrow, HeaderComponent, Section } from "@components/molecules/index.astro";
---

<Section customClass='flex flex-col justify-center items-center h-screen text-center'>
  <HeaderComponent customClass='flex flex-col items-center gap-12'>
    <!-- <BrandGroup customClass="hidden" /> -->
    <ButtonGroup  customClass="my-2" />
  </HeaderComponent>

  <AnchorArrow />
  <LineDown />
</Section>
